<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
	<title>Node.Js</title>
</head>
<body>
	<div class="alert alert-success">
		<strong>Success!</strong> Seja Bem Vindo à API de Gerenciamento de Tarefas.
	</div>
</body>
</html>
