<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
	<title>Error 404</title>
</head>
<body>
	<p class="alert alert-danger">O endereço buscado não existe, será que você não digitou errado?</p>
</body>
</html>
