<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Error 500</title>
</head>
<body>
	<p class="alert alert-danger">Um erro aconteceu :(. O nosso time está correndo para corrigir!</p>
</body>
</html>
